body {
  font-family: 'Lato';
  font-size: 18px;
}

h1 {
  text-align: center;
}

button {
  background-color: #b03060;
  color: #FFFFFF;
  padding: 15px;
  font-size: 15px;
  margin: 10px;
  border-radius: 20%;
}

input {
  padding: 15px;
  min-width: 800px;
  font-size: 15px;
}

.game {
  background-color: #d3d3d3;
  text-align: center;
}

form.gambling {
  display: none;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.correct-guess {
  color: green;
  display: none;
}

.almost-guess {
  color: blue;
  display: none;
}

.wrong-guess {
  color: red;
  display: none;
}

.game-over {
  font-weight: bold;
  color: red;
  display: none;
}

.restart {
  display: none;
}